
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 100px;
    width: 490px;
    height: 490px;
    background-color: brown;
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.parent div{
    width: 150px;
    height: 150px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; 
background-color: red;}
.div2 { grid-area: 1 / 2 / 2 / 3;
background-color: pink;}
.div3 { grid-area: 1 / 3 / 2 / 4; 
background-color: red;}
.div4 { grid-area: 2 / 1 / 3 / 2; 
background-color: red;}
.div5 { grid-area: 2 / 2 / 3 / 3; 
background-color: red;}
.div6 { grid-area: 2 / 3 / 3 / 4; 
background-color: red;}
.div7 { grid-area: 3 / 1 / 4 / 2; 
background-color: red;}
.div8 { grid-area: 3 / 2 / 4 / 3; background-color: red;}
.div9 { grid-area: 3 / 3 / 4 / 4; background-color: red;}
