:root{
    --bg-color: #5C4033;
    --grid-color: #8B6F47;
    --main-color: #9C7B5A;
    --O-color: #e76f51;
    --X-color: #2a9daf;
    --header-text: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: var(--header-text);
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 42px;
    font-weight: bold;
}

.currentEvent {
    font-size: 32px;

}

.reset-button{
    margin: 20px;
    cursor: pointer;
    border: none;
}

.reset-button img {
    width: 40px;
}

main {
    margin-top: 10px;
    width: 490px;
    height: 490px;
    background-color: var(--main-color);
    border-radius: 20px;
    overflow: hidden; 
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.parent div{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent > div > button{
    width: 85%;
    height: 85%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 7cqw;
}

.parent > div > button:disabled{
    cursor: not-allowed;
    opacity: 1;
    color: inherit;
}

.div1 { grid-area: 1 / 1 / 2 / 2; 
background-color: var(--grid-color);}
.div2 { grid-area: 1 / 2 / 2 / 3;
background-color: var(--grid-color);}
.div3 { grid-area: 1 / 3 / 2 / 4; 
background-color: var(--grid-color);}
.div4 { grid-area: 2 / 1 / 3 / 2; 
background-color: var(--grid-color);}
.div5 { grid-area: 2 / 2 / 3 / 3; 
background-color: var(--grid-color);}
.div6 { grid-area: 2 / 3 / 3 / 4; 
background-color: var(--grid-color);;}
.div7 { grid-area: 3 / 1 / 4 / 2; 
background-color: var(--grid-color);}
.div8 { grid-area: 3 / 2 / 4 / 3; background-color: var(--grid-color);}
.div9 { grid-area: 3 / 3 / 4 / 4; background-color: var(--grid-color);}
